<template>
  <nav class="navbar navbar-vertical navbar-transparent fixed-left navbar-expand-md navbar-light" style="background: transparent">
    <div class="container-fluid" style="background: transparent">

      <router-link class="navbar-brand mt-1" to="/">
        <h2 class="text-uppercase">{{ title }}</h2>
      </router-link>

      <navbar-toggle-button @click.native="showSidebar">
        <span class="navbar-toggler-icon"></span>
      </navbar-toggle-button>

      <div v-show="$sidebar.showSidebar" class="navbar-collapse collapse show" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <slot name="links">
          </slot>
        </ul>
        <!--Divider-->
        <!--Heading-->
        <h6 class="navbar-heading text-muted my-2">Otros</h6>
        <!--Navigation-->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link"
              href="https://demos.creative-tim.com/vue-argon-dashboard/documentation">
              <i class="fas fa-sign-out-alt"></i> Salir
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import NavbarToggleButton from '@/components/NavbarToggleButton'

export default {
  name: 'sidebar',
  components: {
    NavbarToggleButton
  },
  props: {
    logo: {
      type: String,
      default: 'img/brand/green.png',
      description: 'Sidebar app logo'
    },
    title: {
      type: String,
      default: 'Lovely Menu',
      description: 'Company name'
    },
    autoClose: {
      type: Boolean,
      default: true,
      description: 'Whether sidebar should autoclose on mobile when clicking an item'
    }
  },
  provide() {
    return {
      autoClose: this.autoClose
    };
  },
  methods: {
    closeSidebar() {
      this.$sidebar.displaySidebar(false)
    },
    showSidebar() {
      this.$sidebar.displaySidebar(true)
    }
  },
  beforeDestroy() {
    if (this.$sidebar.showSidebar) {
      this.$sidebar.showSidebar = false;
    }
  }
};
</script>
