<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-6 order-xl-1">
          <card shadow type="secondary">
            <div slot="header" class="bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Categoria</h3>
                    </div>
                </div>
            </div>
            <template>
              <form @submit.prevent>
                <div class="row">
                  <div class="col-12">
                    <base-input label="Nombre"
                                placeholder="Nombre"
                                input-classes="form-control"
                                v-model="model.username"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 text-right">
                    <base-button type="primary">Aceptar</base-button>
                  </div>
                </div>

              </form>
            </template>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'user-profile',
    data() {
      return {
        model: {
          username: '',
          email: '',
          firstName: '',
          lastName: '',
          address: '',
          city: '',
          country: '',
          zipCode: '',
          about: '',
        }
      }
    },
  };
</script>
<style></style>
