<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-6 order-xl-1">
          <card shadow type="secondary">
            <div slot="header" class="bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Producto</h3>
                    </div>
                </div>
            </div>
            <template>
              <form @submit.prevent>
                <div class="row">

                  <div class="col-12 mb-4">
                    <cropper
                      classname="upload-cropper"
                      :src="image"
                      :stencil-props="{
                        aspectRatio: 4/3
                      }"
                    ></cropper>
                    <div class="button-wrapper">
                      <span class="button btn btn-success" @click="$refs.file.click()">
                        <input type="file" ref="file" @change="uploadImage($event)" accept="image/*">
                        Subir imagen
                      </span>
                    </div>
                  </div>

                  <div class="col-12">
                    <base-input label="Nombre"
                                placeholder="Nombre"
                                input-classes="form-control"
                                v-model="model.username"
                    />
                  </div>
                  <div class="col-12">
                    <base-input label="Descripción">
                      <textarea rows="4"
                                class="form-control"
                                placeholder="Breve descripción">
                      </textarea>
                    </base-input>
                  </div>
                  <div class="col-12">
                    <base-input label="Precio"
                                placeholder="Precio"
                                type="number"
                                input-classes="form-control"
                                v-model="model.username"
                    />
                  </div>
                  <div class="col-12">
                    <base-input label="Categoria">
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </base-input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 text-right">
                    <base-button type="primary">Aceptar</base-button>
                  </div>
                </div>

              </form>
            </template>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Cropper } from 'vue-advanced-cropper'

export default {
  name: 'user-profile',
  components: {
    Cropper
	},
  data() {
    return {
      model: {
        username: '',
        email: '',
        firstName: '',
        lastName: '',
        address: '',
        city: '',
        country: '',
        zipCode: '',
        about: '',
      },
      image: null
    }
  },
  methods: {
    uploadImage(event) {
      var input = event.target;
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.image = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
  },
};
</script>

<style>
.upload-cropper {
  border: solid 1px #c0c0c0;
  height: 300px;
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.button input {
  display: none;
}
</style>
