<template>
  <div>
    <base-header class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
                style="min-height: 600px; background-image: url(img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <span class="mask bg-gradient-success opacity-8"></span>

      <div class="container-fluid d-flex align-items-center mt-6 mb-6">
        <div class="row">
          <div class="col-lg-6 col-md-8">
            <h1 class="display-2 text-white">Hola Julio!</h1>
            <p class="text-white mt-0 mb-5">Te damos la bienvenida a Lovely Menu. Te dejamos a mano la URL de tu menú online para que puedas compartir en tus redes sociales y algunos recursos gráficos que te pueden ser de gran utilidad.</p>
          </div>
          <div class="col-lg-8 col-md-8 ml-3" style="border-left: 4px solid #5e72e4">
            <a href="#" class="display-4 text-white mt-1">https://bardot.lovelymenu.io</a>
          </div>
        </div>
      </div>

      
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <stats-card class="bg-danger mb-3">
            <div class="row">
              <div class="col">
                <h2 class="card-title text-uppercase text-muted mb-0 text-white mt-2">Carpa de mesa</h2>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                  <i class="fas fa-download"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-white">Carpa de mesa vertical de 4x6 para imprimir que contiene el código QR de tu menú online.</span>
            </p>
          </stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card class="bg-warning mb-3">
            <div class="row">
              <div class="col">
                <h2 class="card-title text-uppercase text-muted mb-0 text-white mt-2">Prisma de mesa</h2>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                  <i class="fas fa-download "></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-white">Prisma de mesa horizontal de 6x4 para imprimir que contiene el código QR de tu menú online.</span>
            </p>
          </stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card class="bg-primary mb-3">
            <div class="row">
              <div class="col">
                <h2 class="card-title text-uppercase text-muted mb-0 text-white mt-2">Panfleto</h2>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                  <i class="fas fa-download"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-white">Panfleto A4 para imprimir que contiene el código QR de tu menú online. Ideal para poner en un porta menú de mesa.</span>
            </p>
          </stats-card>
        </div>
        <div class="col-xl-3 col-lg-6">
          <stats-card class="bg-default">
            <div class="row">
              <div class="col">
                <h2 class="card-title text-uppercase text-muted mb-0 text-white mt-2">Código QR</h2>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                  <i class="fas fa-download"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-light">Simple código QR para imprimir que contiene el link a tu menú online. Para incorporar donde más te guste.</span>
            </p>
          </stats-card>
        </div>
      </div>

      <div class="col-lg-8 col-md-8 mt-5 mb-4" style="border-left: 4px solid #5e72e4">
        <span class="display-4 text-default mt-1">Novedades</span>
      </div>

      <base-alert type="danger">
        <strong>Error!</strong> No tienes cargadas categorias para tus productos!
      </base-alert>

      <base-alert type="danger">
        <strong>Error!</strong> No tienes cargados productos!
      </base-alert>

      <base-alert type="warning">
        <strong>Alerta!</strong> Algunos productos no tienen fotos!
      </base-alert>

      <base-alert type="info">
        <strong>Tip!</strong> Animate, genera más impacto subiendo fotos de tus productos!
      </base-alert>
    </div>

  </div>
</template>
<script>
export default {
  
};
</script>
<style></style>
