<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-5">
            <small>Inicie sesión con su usuario y contraseña</small>
          </div>
          <form role="form">
            <base-input class="input-group mb-3"
                        placeholder="Email"
                        addon-left-icon="ni ni-email-83"
                        v-model="model.email">
            </base-input>

            <base-input class="input-group"
                        placeholder="Contraseña"
                        type="password"
                        addon-left-icon="ni ni-lock-circle-open"
                        v-model="model.password">
            </base-input>

            <base-checkbox class="custom-control">
              <span class="text-muted">Recordarme</span>
            </base-checkbox>
            <div class="text-center">
              <base-button type="primary" block class="my-4">Ingresar</base-button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light"><small>Se te olvidó tu contraseña?</small></a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/register" class="text-light"><small>Registrarme</small></router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'login',
    data() {
      return {
        model: {
          email: '',
          password: ''
        }
      }
    }
  }
</script>
<style>
</style>
