<template>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form">

            <div class="row justify-content-center mt-3">
              <div class="col-6">
                <cropper
                  classname="upload-cropper"
                  :src="image"
                  stencil-component="circle-stencil"
                ></cropper>
              </div>
            </div>

            
            <div class="button-wrapper mt-3">
              <span class="button btn btn-success" @click="$refs.file.click()">
                <input type="file" ref="file" @change="uploadImage($event)" accept="image/*">
                Subir logo
              </span>
            </div>

            <base-input class="input-group mb-3 mt-3"
                        placeholder="Tu nombre completo"
                        addon-left-icon="ni ni-single-02"
                        v-model="model.name">
            </base-input>

            <base-input class="input-group mb-3"
                        placeholder="El nombre de su empresa"
                        addon-left-icon="fas fa-utensils"
                        v-model="model.name">
            </base-input>

            <div class="form-group mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">https://</span>
                </div>
                <input type="text" placeholder="tuempresa" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">.lovelymenu.io</span>
                </div>
              </div>
            </div>

            <base-input class="input-group mb-3"
                        placeholder="Email"
                        addon-left-icon="ni ni-email-83"
                        v-model="model.email">
            </base-input>

            <base-input class="input-group mb-3"
                        placeholder="Contraseña"
                        type="password"
                        addon-left-icon="ni ni-lock-circle-open"
                        v-model="model.password">
            </base-input>

            <div class="row my-4">
              <div class="col-12">
                <base-checkbox class="custom-control">
                  <span class="text-muted">Estoy de acuedo con la <a href="#!">Política de privacidad</a></span>
                </base-checkbox>
              </div>
            </div>
            <div class="text-center">
              <base-button type="primary" block class="my-4">Crear una cuenta</base-button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light">
            <small>Se te olvidó tu contraseña?</small>
          </a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/login" class="text-light">
            <small>Ingresar a mi cuenta</small>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Cropper } from 'vue-advanced-cropper'

export default {
  name: 'register',
  components: {
    Cropper
	},
  data() {
    return {
      model: {
        name: '',
        email: '',
        password: ''
      },
      image: null
    }
  },
  methods: {
    uploadImage(event) {
      var input = event.target;
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.image = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      }
    },
  },
}
</script>

<style>
.upload-cropper {
  border: solid 1px #c0c0c0;
  height: 150px;
  width: 159px;
  display: flex;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button input {
  display: none;
}
</style>
