<template>
  <card class="shadow text-center mb-4"
        :class="!plan.selected ? 'border' : 'bg-gradient-default'"
        header-classes="bg-transparent"
        body-classes="px-lg-4"
        footer-classes="bg-transparent">

    <h4 slot="header" class="text-uppercase ls-1 py-3 mb-0" :class="!plan.selected ? 'text-default' : 'text-white'">
      {{ plan.name }}
    </h4>

    <div class="display-1" :class="!plan.selected ? 'text-default' : 'text-white'">{{ plan.price }}</div>
    <span :class="!plan.selected ? 'text-default' : 'text-white'">por mes</span>
    <ul class="list-unstyled my-5">
      <li v-for="(feature, index) in plan.features" :key="index">
        <div class="d-flex margin-auto align-items-center my-2">
          <i class="fas fa-check text-success"></i>
          <span class="pl-2 text-sm" :class="!plan.selected ? 'text-default' : 'text-white'">{{ feature }}</span>
        </div>
      </li>
    </ul>

    <a slot="footer" :class="!plan.selected ? 'text-default' : 'text-white'">
      {{ plan.selected ? 'Actual' : 'Seleccionar'}}
    </a>
  </card>
</template>

<script>
export default {
  name: "plan",
  props: {
    plan: {
      type: Object,
      description: "Plan"
    }
  }
};
</script>

<style>
</style>