<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
    </base-header>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-xl-3" v-for="(plan, index) in plans" :key="index">
          <plan :plan="plan" ></plan>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Plan from "./Plan";

export default {
  name: 'tables',
  components: {
    Plan
  },
  data() {
    return {
      plans: [
        {
          name: 'Gratis',
          price: '$0',
          selected: false,
          features: [
            'Categorias ilimitadas',
            'Hasta 10 productos',
            'Productos con fotos',
            'Soporte online'
          ]
        },
        {
          name: 'Básico',
          price: '$299',
          selected: false,
          features: [
            'Categorias ilimitadas',
            'Hasta 25 productos',
            'Productos con fotos',
            'Soporte online'
          ]
        },
        {
          name: 'Estándar',
          price: '$499',
          selected: true,
          features: [
            'Categorias ilimitadas',
            'Hasta 50 productos',
            'Productos con fotos',
            'Soporte online'
          ]
        },
        {
          name: 'Profesional',
          price: '$699',
          selected: false,
          features: [
            'Categorias ilimitadas',
            'Productos ilimitados',
            'Productos con fotos',
            'Soporte prioritario online'
          ]
        },
      ]
    }
  }
};
</script>

<style></style>
