<template>
  <footer class="footer px-4 pt-8" style="">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-12">
        <div class="copyright text-center text-muted">
          © {{year}} <a href="https://www.lovelymenu.io" class="font-weight-bold ml-1" target="_blank">Lovely Menu</a>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  data() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>
<style></style>
