<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar
      :background-color="sidebarBackground"
      title="Bardot"
    >
      <template slot="links">
        <sidebar-item
          :link="{
            name: 'Inicio',
            icon: 'ni ni-tv-2 text-primary',
            path: '/dashboard'
          }"
        />

        <hr class="my-2">
        <h6 class="navbar-heading text-muted mx-4">Datos</h6>
        <sidebar-item :link="{name: 'Categorias', icon: 'fas fa-layer-group text-blue', path: '/categories'}"/>
        <sidebar-item :link="{name: 'Productos', icon: 'fas fa-utensils text-blue', path: '/products'}"/>
        <sidebar-item :link="{name: 'Configuraciones', icon: 'ni ni-settings-gear-65 text-blue', path: '/icons'}"/>

        <sidebar-item :link="{name: 'Login', icon: 'ni ni-key-25 text-info', path: '/login'}"/>
        <sidebar-item :link="{name: 'Register', icon: 'ni ni-circle-08 text-pink', path: '/register'}"/>

        <hr class="my-2">
        <h6 class="navbar-heading text-muted mx-4">Suscripción</h6>
        <sidebar-item :link="{name: 'Planes', icon: 'fas fa-hand-holding-usd text-blue', path: '/plans'}"/>
        <sidebar-item :link="{name: 'Facturas', icon: 'fas fa-receipt text-blue', path: '/invoices'}"/>

      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <dashboard-navbar></dashboard-navbar>

      <div @click="toggleSidebar">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </fade-transition>
        <content-footer v-if="!$route.meta.hideFooter"></content-footer>
      </div>
    </div>
  </div>
</template>
<script>
  import DashboardNavbar from './DashboardNavbar.vue';
  import ContentFooter from './ContentFooter.vue';
  import { FadeTransition } from 'vue2-transitions';

  export default {
    components: {
      DashboardNavbar,
      ContentFooter,
      FadeTransition
    },
    data() {
      return {
        sidebarBackground: 'vue' //vue|blue|orange|green|red|primary
      };
    },
    methods: {
      toggleSidebar() {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false);
        }
      }
    }
  };
</script>
<style lang="scss">
</style>
